body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  background-color: hsl(212, 45%, 89%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.page {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.card {
  width: 258px;
  margin: auto;
  padding: 14px;
  border-radius: 16px;
  background-color: hsl(0, 0%, 100%);
}

.card__code {
  margin-bottom: 20px;
}

.card__code img {
  border-radius: 10px;
}

h1 {
  margin-bottom: 12px;
  font-size: 18px;
  text-align: center;
  line-height: 1.2;
  color: hsl(218, 44%, 22%);
}

.card__text {
  padding: 0 12px;
}

.card__text p {
  margin-bottom: 20px;
  font-size: 12px;
  text-align: center;
}

.attribution {
  padding: 20px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
